<nav class="navbar">
    <div class="container">
      <a href="/home" class="logo">Music 4 Later</a>
      <ul class="nav-links">
        <li><a href="/home">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/playlist">Playlists</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/create">Create</a></li>
      </ul>
    </div>
  </nav>
  