<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Music 4 Later</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('./partials/nav') %>

  <main class="center">
    <h1>Login</h1>
    <form class="form" id="loginForm" action="/login" method="POST">
      <label for="email">Email:</label>
      <input type="text" id="username" name="username" required>
      <p id="usernameError" style="color: red;"></p> 
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <p id="passwordError" style="color: red;"></p> 
      
      <button type="submit" class="cta-button">Login</button>
    </form>
    <p>Don't have an account? <a href="/signup">Sign Up</a></p>
  </main>
  
  <script>
    const form = document.querySelector('#loginForm');
    const usernameInput = document.querySelector('#username');
    const passwordInput = document.querySelector('#password');
    const usernameError = document.querySelector('#usernameError');
    const passwordError = document.querySelector('#passwordError');

    form.addEventListener('submit', function(event) {
      let isValid = true;
      usernameError.innerText = '';
      passwordError.innerText = '';

      if (usernameInput.value.length < 5) {
        usernameError.innerText = 'Username must be at least 5 characters long';
        isValid = false;
      }

      if (passwordInput.value.length < 8) {
        passwordError.innerText = 'Password must be at least 8 characters long';
        isValid = false;
      }

      if (!isValid) {
        event.preventDefault(); 
      }
    });
  </script>

  <footer>
    <%- include('./partials/footer') %>
  </footer>

</body>
</html>